@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white-1000: #fff;
    --orange-100: #FE5F44;
    --orange-500: #FF9B71;
    --black-100: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-1000);
    width: 100vw;
    height: 100vh;
}

#objeto {
    position: absolute;
    z-index: -3;
    width: 100%;
    top: 15%;
    right: -36%;
}
#objeto img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/* #objeto #quadrado-centro{
    background-color: #FF9B71;
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
#objeto #quadrado-direita{
    background-color: #FD2316;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    transform: skewy(50deg);
    transform-origin: -5px -5px;
}
#objeto #quadrado-baixo{
    background-color: #FE5F44;
    position: relative;
    width: 100px;
    height: 500px;
    bottom: 5px;
    transform: skewX(40deg);
    transform-origin: 0 0;
} */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-100);
    width: 100%;

}

header nav h4 {
    font-family: 'Noto Sans';
    font-size: 1rem;
    letter-spacing: -0.07em;
}

header nav ul {
    display: flex;
    gap: .5em;
    text-decoration: none;
    list-style: none;
}

header nav ul li {
    font-family: 'Noto Sans';
    font-weight: 600;
    letter-spacing: -0.07em;
    cursor: pointer;
}

header nav ul li:hover,
header nav ul li.active {
    color: var(--orange-100);
    transition: 0.3s;
}

hr{
    width: 100%;
    height: 2px;
    background: var(--black-100);
    border: none;
    margin-top: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 50px;
}

.presentation h1 {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.07em;
    text-align: left;
    margin: auto;
    color: var(--black-100);
}

.presentation article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.presentation article h3 {
    font-family: 'Noto Sans';
    letter-spacing: -0.07em;
    color: var(--black-100);
}

.presentation article p {
    font-family: 'Roboto';
    font-weight: 300;
    width: 90%;
    font-size: 1.2rem;
    color: var(--black-100);
}

img {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.planos {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.card {
    width: 95%;
    padding:30px 20px;
    background: rgba(204, 204, 204, 0.1);
    border-radius: 30px;
    color: var(--black-100);
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 50px
}

.card p {
    font-size: 1.5rem;
}

.card .title-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
}

.title-card h4::before{
    content: '';
    height: 20px;
    width: 20px;
    background-color: var(--orange-100);
    display: inline-block;
    margin-right: 10px;
}
.title-card h4{
    font-size: 1.7rem;
    font-family: 'Noto Sans';
    letter-spacing: -0.07em;
    color: var(--black-100);
}

.title-card h3 {
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 1.7rem;
    letter-spacing: -0.07em;
    color: var(--orange-100);
}

.title-card .quadrado {
    height: 20px;
    width: 20px;
    background-color: var(--orange-100);
}
section h2{
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: -0.07em;
    color: var(--black-100);
}
section p {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 300;
    color: var(--black-100);

}
section .conheca-title {
    font-size: 2.2rem;
    font-family: 'Noto Sans';
}

.conheca-title span {
    background-color: var(--orange-500);
    width: 400px;
    padding-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
footer div img{
    width: 50%;
    object-fit: contain;
    height: 100px;
}

footer div h4{
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: -0.07em;
    color: var(--black-100);
}
footer div article{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer article ul {
    list-style: none;
}
footer article ul li {
    font-family: 'Noto Sans';
    font-weight: 600;
    letter-spacing: -0.07em;
    cursor: pointer;
    color: var(--black-100);
    margin: 10px;
}

footer article ul li span {
    color: var(--orange-100);
}

footer article ul li span:hover {
    color: var(--black-100);
    transition: 0.3s;
}

.direitos {
    padding: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: lighter;
    line-height: 33px;
    letter-spacing: -0.07em;
}